body {
    direction: rtl;
    text-align: right;
    margin: 0;
    height: 805px;

}

* {
    box-sizing: border-box;
}


.row::after {
    content: "";
    clear: both;
    display: table;
  }

  
.cube {
    float: right; 
    width: 293px;
    height: 350px; 
    position: relative;
}

.content {
    position: absolute;
    bottom: 0; 
}

.container {
    width: 900px;
   margin: auto; 
    
}

header {
    background-color: #909090;
    position: relative;
    height: 105px;
    margin-bottom: 50px; 
}

img.header, a.header {
    position: absolute;
    top: 35px;
    left: 270px; 
}

a.header { 
    width: 200px;
    font-size: 0.80em;
}
 
nav { 
    background-color:#909090;

}

ul {
     margin: 0px;
     bottom: 0px;
     position: absolute;
     margin-right: 90px; 
  }

li {
    padding: 5px;
    list-style: none;
    display: inline-block;
    text-decoration: none;
    bottom: 0px; 
}

nav > ul > li > a {
    text-decoration: none;
    font-family: arial;
    padding: 4px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

#logo {
    position: absolute;
    bottom: -20px;
    }

/* #menu {
    position: absolute;
    /* padding-top: 70px; */
    /* padding-right:150px; */
    /* background-color: white; */
    /* bottom: 30px;
    float: left;
} */ 

/* .rowclearfix {
    float: left; 
    
} */

/* .container1 > .cube1, .cube2, .cube3 {
display: flex;
width: 900px;
margin: auto; 
position: relative;

} */



/* .fontonimage {
    position: absolute;
    bottom: 20px;
} */

.content > h4, p , a {
width: 250px;
font-family: Arial, Helvetica, sans-serif;
color: white;
background-color: gray;
opacity: 0.8; 
margin: 0px;
}

/* .cube > h4, p , a {
    width: 250px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: gray;
    opacity: 0.8;
} */

/* 
.bgimg {
position: relative;
width: 292px;
height: 212px;
} */

.cube2 {
    float: right; 
    width: 292px;
    height: 216px; 
    position: relative;
}

.cube2 > img {
    margin-top: 20px;
    
}

.content2 {
    position: absolute;
    bottom: 30px; 
    right: 20px;
}

h4 {
   font-family: arial; 
    margin-bottom: 15px;
    color: darkslategray;
}
#line {
    margin: 0px;
}

.content3 {
    position: absolute;
    bottom: 5px; 
    right: 20px;
    width: 272px;
    height: 192.53;

}

/* .row {
  margin-top: 20px; 
  margin-bottom: 20px;
}
     */





footer {
    background-color: #909090;
    position: fixed;
    height: 30px;
    bottom: 0px;
    width: 1903px; 
    margin-bottom: 0px;
    right: -500px; 
    
}

 footer > ul  >   {
        margin: 0;
        bottom: 0px; 
      
         } 

.footer > ul > li {
    padding-left: 2px; 
    padding-right: 2px;
}


.dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    background-color: #ddd;
    width: 150px;
    position: absolute;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
  }
  
  .dropdown-content > a {
    display:block;
    text-decoration: none;
    padding: 5px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    width: auto;
    border-bottom: 0.2px solid#BCBCBC;
  }
  
  .dropdown-content > a:hover {
    background-color: #BCBCBC;
    color: #005CA0;
    text-decoration: underline;
    
  }
  
  .dropdown:hover > .dropdown-content {
    display: block;
    background-color: #BCBCBC;
    color: #005CA0;
    text-decoration: none;
    
  }
  
  ul {
      z-index: 99;
      
  }
  
  a {
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 0 10px;
    text-decoration: none;
    background-color: #909090;
    border-right: 0.2px solid white;
    
  }

  a:hover{
    color: #005CA0;
    text-decoration: underline;
  } 

  .red {
      color:red;
  }

  #menu > a {
      color:black;
      background-color: #E0E0E0;
      font-weight: initial;
      padding: 8px; 
      padding-left: 70px;
  }

#menu > h8 {
    display: inline-block;
    
}

#menu > h8 > a {
    
    color: black;
    background-color: white;
    font-weight: initial;
    
}

#menu > h4 {
    margin-right: 140px;
    text-decoration: underline;
}

.card1  {
    float: right;
    position: relative;
    left: -140px;
}

.form {
    position: absolute;
    top: 0px; 
    right: 20px;
    
}

h5 { 
    margin: 0px;
}

label {
    display: inline-block;
    padding-left: 0;
    padding: 5px; 
}