body {
    direction: rtl;
    text-align: right;
    margin: 0;

}

* {
    box-sizing: border-box;
}


.row::after {
    content: "";
    clear: both;
    display: table;
  }

  
.cube {
    float: right; 
    width: 293px;
    height: 350px; 
    position: relative;
}

.content {
    position: absolute;
    bottom: 0; 
}

.container {
    width: 900px;
    margin: auto; 
    
}

header {
    background-color: #909090;
    position: relative;
    height: 105px;
    margin-bottom: 50px; 
}

nav { 
    background-color:#909090;

}

ul {
     margin: 0px;
     bottom: 0px;
     position: absolute;
     margin-right: 90px; 
  }

li {
    padding: 5px;
    list-style: none;
    display: inline-block;
    text-decoration: none;
    bottom: 0px; 
}

nav > ul > li > a {
    text-decoration: none;
    font-family: arial;
    padding: 5px;
    color: white;
}

#logo {
    position: absolute;
    bottom: -20px;
    }

/* #menu {
    position: absolute;
    /* padding-top: 70px; */
    /* padding-right:150px; */
    /* background-color: white; */
    /* bottom: 30px;
    float: left;
} */ 

/* .rowclearfix {
    float: left; 
    
} */

/* .container1 > .cube1, .cube2, .cube3 {
display: flex;
width: 900px;
margin: auto; 
position: relative;

} */

.img {
   width: 33%;
   padding: 5px;
   /* position: absolute; */
}

/* .fontonimage {
    position: absolute;
    bottom: 20px;
} */

.content > h4, p , a {
width: 250px;
font-family: Arial, Helvetica, sans-serif;
color: white;
background-color: gray;
opacity: 0.8; 
margin: 0px;
}

/* .cube > h4, p , a {
    width: 250px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: gray;
    opacity: 0.8;
} */

/* 
.bgimg {
position: relative;
width: 292px;
height: 212px;
} */

.cube2 {
    float: right; 
    width: 292px;
    height: 216px; 
    position: relative;
}

.content2 {
    position: absolute;
    bottom: 30px; 
    right: 20px;
}

h4 {
    font-family: arial; 


}

.content3 {
    position: absolute;
    bottom: 5px; 
    right: 20px;
    width: 272px;
    height: 192.53;

}

/* .row {
  padding-top: 10px; 
    


} */

/* .content3 > .row {
    position: absolute;
    float: right; 
} */

footer {
    background-color: #909090;
    position: fixed;
    height: 30px;
    bottom: 0px;
    width: 1903px; 
    margin-bottom:20px;
    
}

.footer > ul > li  
     {
        margin: 0;
        bottom: 0px;
           
     }
/* .footer {
 margin:auto;
} */